<br>
<h2 class="w3-text-orange" class="w3-jumbo" class = w3-section style="text-shadow:1px 1px 0 #444">Se connecter</h2>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <p>Email :</p>
      <%= f.email_field :email, class: 'form-control' %>
<br>
      <p>Mot de passe :</p>
      <%= f.password_field :password, class: 'form-control' %>
<br>
      <p>Confirmation :</p>
      <%= f.password_field :password, class: 'form-control' %>
<br>
      <%= f.submit "Valider", class: "btn btn-success" %>
    <% end %>
<br>
  </div>
</div>

<p>Pas encore inscrit ? <%= link_to "Créer un compte", new_user_path, :class => "w3-btn w3-ripple w3-blue" %></p>
