<nav class="w3-bar w3-green w3-xlarge w3-padding-large">

		<div class = "w3-left">
			<%=link_to 'Home', root_path, :class => "w3-bar-item w3-button w3-padding-16" %>
		</div>

		<div class = "w3-right">
		<%=link_to 'About', about_path, :class => "w3-bar-item w3-button w3-padding-16"  %>
		  <% if logged_in? %>
			  <%= link_to "Mon profil", current_user, :class => "w3-bar-item w3-button w3-padding-16"  %>
			  <%=link_to 'Log out', logout_path, method: :delete, :class => "w3-bar-item w3-button w3-padding-16"  %>
		 <% else %>
		   	  <%=link_to 'Log in', login_path, :class => "w3-bar-item w3-button w3-padding-16"  %>
	   <% end %>
	    </div>

</nav>
