<nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-inverse" >
	<div class = "nav btn-group navbar-expand-md navbar-nav navbar-left">
		<%=link_to 'Home', root_path, :class => "btn btn-lg btn-primary btn-sm" %>
		<%=link_to 'Liste des Membres du Secret', index_path, :class => "btn btn-lg btn-primary btn-sm" %>
	</div>

	<div class = "nav btn-group navbar-expand-md navbar-nav navbar-right">
		<%=link_to "About", about_path, :class => "btn btn-lg btn-primary btn-sm"  %>

		<% if logged_in? %>
			<%= link_to "Mon profil", current_user, :class => "btn btn-lg btn-primary btn-sm"  %>
			<%=link_to 'Log out', logout_path, method: :delete, :class => "btn btn-lg btn-primary btn-sm"  %>
		<% else %>
		  <%=link_to 'Log in', login_path, :class => "btn btn-lg btn-success btn-sm"  %>
		<% end %>
	 </div>
</nav>
